awscli==1.18.185
boto3==1.16.25
botocore==1.19.25
certifi==2020.11.8
chardet==3.0.4
colorama==0.4.3
dill==0.3.3
docutils==0.15.2
enum34==1.1.10
ez-setup==0.9
idna==2.10
jmespath==0.10.0
multiprocess==0.70.11.1
netifaces==0.10.9
psutil==5.7.3
pyasn1==0.4.8
pyspectator==1.2.2
python-dateutil==2.8.1
pyvalid==1.0.4
PyYAML==5.3.1
requests==2.25.0
rsa==4.5
s3transfer==0.3.3
schedule==0.6.0
six==1.15.0
urllib3==1.26.2